<!doctype html>
<html lang="en">

<head>
    <title>Yêu cầu phim</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:locale" content="vi_VN">
    <meta property="og:title" content="J2Team Movies">
    <meta property="og:description" content="Assignment JavaScript FPT Polytechnic">
    <meta property="og:site_name" content="J2Team Movies">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://j2teamlbh.github.io/">
    <meta property="og:image" content="https://i.imgur.com/ixT1YTO.jpg">
    <meta property="og:image:alt" content="J2Team Community Logo!">
    <meta name="og:email" content="j2team.lbh@gmail.com">
    <meta property="fb:app_id" content="325350918017127">
    <meta property="fb:admins" content="5515886">
    <meta property="fb:pages" content="442878785875732">
    <meta property="twitter:image" content="https://i.imgur.com/ixT1YTO.jpg">
    <meta name="twitter:site" content="@LeHau_Twit">
    <meta name="twitter:domain" content="j2teamlbh.me">
    <meta name="twitter:creator" content="@LeHau_Twit">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="copyright" content="Le Hau">
    <meta name="author" content="Le Hau">
    <meta name="keywords" content="j2team, j2team community,le hau ,lê hậu, j2teamlbh,j2team movies">
    <link rel="shortcut icon" sizes="76x76" type="image/png" href="assets/images/fav.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/images/fav-apple.png">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/customstyle.css">
    <link rel="stylesheet" href="assets/css/fontawesome.min.css">
</head>

<body ng-app="moviesRequest">
    <div class="wrapper">
        <header class="header">
            <nav class="navbar navbar-expand-md navbar-dark bg-transparent movies-menu">
                <div class="container">
                    <a class="navbar-brand" href="index.html"><img class="logo img-fluid"
                            src="assets/images/logo-j2team.png" alt="Logo"></a>
                    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
                        data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                        aria-label="Toggle navigation"><i class="fas fa-bars"></i></button>
                    <div class="collapse navbar-collapse" id="collapsibleNavId">
                        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="index.html">Trang chủ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="movies-list.html">Danh sách phim</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="movies-request.html">Yêu cầu phim</a>
                            </li>
                            <li class="nav-item">
                                <a name="watch-more" id="watch-more" class="btn btn-primary watch-more"
                                    href="login.html" role="button">Đăng nhập</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <section class="heading-panel">
            <div class="container">
                <div class="row heading">
                    <div class="col-md-12">
                        <h2 class="heading-title text-white">Yêu cầu phim</h2>
                        <div class="m-breadcrumb col-md-12">
                            <a href="index.html" class="breadcrumb-item text-white">Trang chủ</a><span
                                class="breadcrumb-item text-white">Yêu cầu phim</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="main-panel my-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-white">
                        <h3 class="text-white">Gửi yêu cầu phim</h3>
                        <div class="request-form" ng-controller="formRequest">
                            <form ng-submit="submit()" name="formrequest">
                                <div class="form-group">
                                    <label class="label">Họ và tên*</label>
                                    <div class="input-group">
                                        <input type="text" name="fname" ng-model="formData.name" class="form-control"
                                            placeholder="Nhập họ và tên">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="label">Email*</label>
                                    <div class="input-group">
                                        <input type="text" name="email" ng-model="formData.email" class="form-control"
                                            placeholder="Nhập địa chỉ Email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="label">Tên phim*</label>
                                    <div class="input-group">
                                        <input type="text" name="moviename" ng-model="formData.movietitle"
                                            class="form-control" placeholder="Nhập tên phim">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="label">Năm sản xuất*</label>
                                    <div class="input-group">
                                        <input type="text" name="year" ng-model="formData.year" class="form-control"
                                            placeholder="Nhập năm sản xuất">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="notes">Ghi chú thêm (nếu có)</label>
                                    <textarea class="form-control" ng-model="formData.notes" name="notes" id="notes"
                                        rows="3" placeholder="Ghi chú thêm"></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Gửi</button>
                                    <button type="reset" class="btn btn-secondary">Reset</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6" ng-controller="moviesList">
                        <h3 class="text-white">Phim đang chờ duyệt</h3>
                        <div class="table-responsive">
                            <table class="table table-light table-striped mt-3">
                                <thead>
                                    <tr>
                                        <th>Người yêu cầu</th>
                                        <th>Tên phim</th>
                                        <th>Năm sản xuất</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in moviesData">
                                        <td scope="row">{{item.name}}</td>
                                        <td>{{item.movietitle}}</td>
                                        <td>{{item.year}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>Copyright ©2019 Lê Hậu. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="assets/js/jquery-3.3.1.slim.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/angular.min.js"></script>
<script src="assets/js/all.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
<script src="assets/js/config.js"></script>
<script src="assets/js/controller.js"></script>
<script src="assets/js/validateForm.js"></script>
<script src="assets/js/contentScript.js"></script>
</body>

</html>